* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 6.25%;
}

html {
    --mainFont: 'Righteous', sans-serif;
    --secondaryFont: Luminari, fantasy;
    --darkBlue: #101c2c;
    --lightBlue: #05c3ff;
    --transparentBlack: rgba(0, 0, 0, 0.9);
    --yellow: yellow;
    --red: red;
    --lightGrey: #9aa1a1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lightBlue);
    padding: 20px 0 20px 0;
    border: 1px solid var(--darkBlue);
    z-index: 10000;
}

h1 {
    font-family: var(--mainFont);
    font-size: clamp(48px, 6vw, 52rem);
    color: var(--darkBlue);
}

input {
    width: 300px;
    height: 50px;
    padding: 20px;
    border-radius: 8px;
    font-size: clamp(20px, 3vw, 26rem);
    text-align: center;
}

strong {
    color: var(--red);
    font-size: clamp(45px, 5vw, 50rem);
}