/* Headder */
#timer, #score, #playCount{
    font-family: var(--secondaryFont);
    font-weight: bold;
    font-size: clamp(30px, 4vw, 36rem);
    color: var(--darkBlue);
}

/* Body */
#main {
    font-family: var(--mainFont);
    display: flex;
    justify-content: center;
    padding-top: 150px;
    height: 100vh;
    background-color: var(--lightGrey);
}

/* Card Design */
.card{
    width: 100rem;
    height: 150rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.cardFront, .cardBack {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.45);
    position: absolute;
    cursor: pointer;
}

.cardFront {
    transform: rotateY(180deg);
    background-color: var(--darkBlue);
}

.cardBack {
    color: var(--darkBlue);
    background-color: var(--lightBlue);
    font-size: 40rem;
}

.flip {
    transform: rotateY(180deg);
}

/* Game Board */
#gameBoard {
    max-width: 700rem;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

/* Tela de Game Over */
#gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--transparentBlack);
    color: var(--yellow);
    font-size: clamp(45px, 4vw, 50rem);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#gameOver h2 {
    font-size: clamp(50px, 6vw, 56rem);
}

#finalScore {
    font-size: clamp(24px, 3vw, 28rem);
}

/* Botões */
.btn {
    display: none;
    padding: 20rem;
    font-size: 20rem;
    font-weight: bolder;
    background-color: var(--lightBlue);
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-color: var(--yellow);
    transition: 0.5s;
}

/* Ranking */
#rankingContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#ranking {
    background-color: var(--darkBlue);
    min-width: 600px;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
}

.positions {
    font-size: clamp(36px, 4vw, 40rem);
    color: var(--yellow);
}

#addRank {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: clamp(28px, 3vw, 32rem);
    color: var(--red);
}